@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&display=swap");
@font-face {
  font-family: StarJediRounded;
  src: url(StarJediRounded-jW3R.ttf);
}
@font-face {
  font-family: StarJedi;
  src: url(StarJedi-DGRW.ttf);
}
@font-face {
  font-family: Starjedi;
  src: url(Starjedi.ttf);
}
@font-face {
  font-family: Starjholl;
  src: url(Starjhol.ttf);
}
*{
    margin: 0;
    padding: 0;
}
body{
  width: 100vw;
  height: 90%;
  font-family: Starjholl;
  margin: auto;
}
header{
 position: absolute;
 top: 10px;
}
main{
  height: 80vh;
}
.titulo{
  text-align: center;
  font-size: 2em;
  margin-top: 100px;
}


h1 {
  font-family: Starjholl;
  color: gray;
}
/* a:link,
a:visited,
a:active {
  text-decoration: none;
} */


/* Cards Videojuegos */
.contenedor-card{
width: 100%;
max-width: 1200px;
height: 430px;
display: flex;
flex-wrap: wrap;
justify-content: center;
margin: auto;
}
.contenedor-card .card{
width: 330px;
height: 430px;
border-radius: 8px;
box-shadow: 0 7px 7px rgba(255, 255, 255, 0.459);
overflow: hidden;
margin: 20px;
text-align: center;
transition: all 0.5s;
}
.contenedor-card .card:hover{
transform: translateY(-15px);
box-shadow: #0f0 0px 0px 20px 2px;
}
.contenedor-card .card img{
width: 300px;
height: 300px;
border-radius: 8px;
margin: 5px;
}


/* Fin de Cards Videojuegos */


.textIni {
  font-family: "Lobster Two", cursive;
}

.parraf {
  text-align: justify;
}

.logoNav {
  width: 15%;
  padding: 10px;
}

.contenedor {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.contenedor2 {
  width: 25%;
  margin-left: 37%;
  margin-right: 37%;
}

.borderC {
  border: 1px solid rgb(172, 171, 171);
  border-radius: 10px;
}

.contenedor3 {
  width: 75%;
  margin-left: 12%;
  margin-right: 13%;
}

.borderF {
  border: 1px solid rgb(196, 194, 194);
}

.usuarioI {
  border: 1px solid rgb(196, 194, 194);
  font-family: "Lobster Two", cursive;
  font-size: large;
  color: rgb(79, 79, 82);
}

.textForm {
  font-family: "Montserrat Alternates", sans-serif;
}
.cardsobre {
  margin: 20px auto;
  width: 90%;
  border: dimgrey solid;
  border-radius: 10px;
}
.divnosotros {
  margin: auto;
}
.mapa {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
}
.rob1 {
  border-radius: 5%;
}
.divquienes {
  margin: 20px auto;
  width: 90%;
  border: dimgrey solid;
  border-radius: 10px;
}
footer {
  height: 100px;
  bottom: 10px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.footer-article {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  text-decoration: none;
}
.footer-pages {
  color: white;
}
/* Estilo del modo oscuro */
.oscuro {
  display: flex;
  justify-content: center;
  align-items: center;
}
.boton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 20px;
  margin-left: 10px;
  border: rgb(172, 171, 171) solid;
  border-radius: 10px;
}
.boton input {
  opacity: 0;
  width: 0;
  height: 0;
}
.botonespacio {
  padding: auto;
  margin: auto;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgb(194, 196, 197);
}
.slider::before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  right: 4px;
  bottom: 0px;
  top: 1px;
  background-color: rgb(255, 255, 255);
}
input:checked + .slider {
  background-color: rgba(79, 122, 201, 1);
}
input:focus + .slider::before {
  background-color: rgb(255, 255, 255);
}
input:checked + .slider::before {
  transform: translateX(14px);
}
.slider.round {
  border-radius: 10px;
}
.slider.round::before {
  border-radius: 50%;
}
.cambio-color {
  background-color: rgba(24, 24, 24, 0.87);
  color: rgba(241, 235, 235, 0.925);
}
.cambio-color-card {
  background-color: rgba(24, 24, 24, 0.87);
  color: rgba(241, 235, 235, 0.925);
}
.cambio-color-section {
  background-color: rgba(24, 24, 24, 0.87) !important;
  color: rgba(241, 235, 235, 0.925);
}

/*fin de estilo modo oscuro*/
@media (max-width: 992px) {
  .contenedor {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .borderF {
    border: 1px solid rgb(196, 194, 194);
  }

  .contenedor2 {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }
  .rob1 {
    width: 80vw;
    border-radius: 5%;
  }
  .cardsobre {
    margin: 20px auto;
    width: 100%;
    border: dimgrey solid;
    text-align: center;
  }
  .cardsobre img {
    padding: 2vw;
  }
  .oscuro {
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .mapa {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .cardsobre {
    margin: 10px auto;
    width: 100%;
    border: dimgrey solid;
    text-align: center;
  }
  .cardsobre img {
    padding: auto;
  }
  .oscuro {
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .mapa {
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .rob1 {
    border-radius: 5%;
  }
}
@media (max-width: 576px) {
  .contenedor {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .borderF {
    border: 1px solid rgb(196, 194, 194);
  }

  .contenedor2 {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .container {
    width: 90%;
  }
  .rob1 {
    width: 90vw;
    border-radius: 5%;
  }
  .cardsobre {
    margin: 20px auto;
    width: 100%;
    height: auto;
    border: dimgrey solid;
    text-align: center;
  }
  .cardsobre img {
    padding: auto;
  }
  .oscuro {
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .mapa {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
  }
}
